<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hitta i katalogen</title>
    <link rel="stylesheet" href="style.css" />
    <script type="module">
      import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'
      import {ID, TYPE, REVERSE, Index, LD, asArray} from './lxl.mjs'

      const RootComponent = {
        data() {
          return {
            things: this.index.values().filter(it =>
              it[REVERSE]?.instanceOf || this.ld.isA(it, 'Work')
            ),
            thing: null
          }
        },
        methods: {
          select(thing, closeall=false) {
            if (this.thing === thing ||
                closeall &&
                this.thing === thing[REVERSE]?.instanceOf[0]) {
              this.thing = thing.instanceOf
              return
            }
            if (thing[REVERSE]?.instanceOf?.length === 1) {
              thing = thing[REVERSE].instanceOf[0]
            }
            this.thing = thing
          },
          workImage(thing) {
            let imgUrl = thing[REVERSE]?.instanceOf[0]?.thumbnailUrl
            let bgCss = 'background-image: linear-gradient(var(--bg-grad-start), var(--bg-grad-stop))'
            if (imgUrl) {
              bgCss += `, url(${imgUrl})`
            }
            return bgCss
          },
          download(text) {
            window.alert(text.label)
          }
        },
        components: {
          'show-work': {
            template: '#show-work',
            props: ['thing', 'fromthing']
          }
        }
      }

      window.addEventListener('DOMContentLoaded', async evt => {
        const [vocab, data] = await Promise.all([
          (await fetch('./vocab.jsonld')).json(),
          (await fetch('./data.jsonld')).json()
        ])
        const index = new Index(data)
        const ld = new LD(vocab)
        const globals = {ID, TYPE, REVERSE, ld, index, asArray}
        const app = createApp(RootComponent)
        Object.assign(app.config.globalProperties, globals)
        app.mount('#app')
      })
    </script>
  </head>
  <body>
    <div id="app">
      <p>
        <input value="Aniara Harry"> <button v-on:click="thing = null">Hitta</button>
      </p>
      <p>
        Du har lyckats hitta
        <b typeof="WorkConcept">Aniara</b>
        som finns som:
      </p>
      <menu>
        <li v-for="g in ld.groupByType(things)" class="group">
          <button v-for="it in g.members"
                  :class="it === thing || it === thing?.instanceOf ? 'selected' : null"
                  v-on:click="select(it, true)">
              {{ld.getTypeLabelFor((it))}}
              <span v-if="it.language">({{ it.language.label }})</span>
          </button>
        </li>
      </menu>
      <main v-if="thing">
        <article :class="thing.instanceOf ? 'specific' : 'general'">
          <section typeof="Work" class="general" :style="workImage(thing.instanceOf || thing)">
            <show-work v-if="ld.isA(thing, 'Work')" v-bind:thing="thing">
            </show-work>
            <show-work v-if="thing.instanceOf"
                       v-bind:thing="thing.instanceOf" v-bind:fromthing="thing">
            </show-work>
          </section>
          <template v-if="ld.isA(thing, 'Instance')">
            <section typeof="Instance" class="specific">
              <div>
                <h1>{{ld.getTypeLabelFor(thing)}}</h1>
                <p v-for="publ in asArray(thing.publication)">
                  <time v-if="publ.date">{{ publ.date }}</time>
                  <span v-if="publ.agent">{{ " " + publ.agent.name }}</span>
                </p>
                <h2 v-for="title in asArray(thing.hasTitle)">
                  {{title.mainTitle}}
                  <span v-if="title.subtitle">- {{title.subtitle}}</span>
                  <span v-if="ld.getTypeLabelFor(title)"> [{{ld.getTypeLabelFor(title)}}]</span>
                </h2>
              </div>
              <aside>
                <figure>
                  <img :src="thing.thumbnailUrl" width="128">
                </figure>
              </aside>
              <div>
                <p v-if="thing.reproductionOf"> 
                  <span>Reproduktion av </span>
                  <button v-on:click="select(thing.reproductionOf)">{{ld.getTypeLabelFor(thing.reproductionOf)}}</button>
                </p>
                <p v-if="thing[REVERSE]?.reproductionOf?.length"> 
                  <span>Finns reproducerad som </span>
                  <button v-for="repro in thing[REVERSE]?.reproductionOf"
                      v-on:click="select(repro)">{{ld.getTypeLabelFor(repro)}}</button>
                </p>
              </div>
              <menu>
                <li v-for="item in thing[REVERSE].itemOf" v-on:click="download(item)">
                  <span>{{item.label}}</span>
                </li>
              </menu>
            </section>
          </template>
        </article>
      </main>
    </div>
    <template id="show-work">
      <div>
        <section>
          <h1>{{thing.title}} - av {{thing.author.name}}
            <b typeof="Class">{{ld.getTypeLabelFor(thing)}}</b>
          </h1>
          <p>
            <b v-for="gf in thing.genreForm" typeof="GenreForm">{{gf.prefLabel}}</b>
          </p>
          <p v-if="thing.language">På {{ thing.language.label }}</p>
          <p v-if="thing.originDate">Från {{ thing.originDate }}</p>
          <p v-if="thing.responsibilityStatement">{{thing.responsibilityStatement}}</p>
          <p v-if="thing.translationOf">
            Översatt från:
            <button v-on:click="this.$parent.select(thing.translationOf)"
                    >{{thing.translationOf.language.label}}</button>
          </p>
          <p v-if="thing.derivativeOf">
            Baserad på
            <button v-on:click="this.$parent.select(thing.derivativeOf)"
                    >{{ld.getTypeLabelFor(thing.derivativeOf)}}</button>
          </p>
          <aside v-if="thing[REVERSE]?.derivativeOf?.length > 0 || thing[REVERSE]?.translationOf?.length > 0"
                 class="reverse">
            <div v-if="thing[REVERSE]?.translationOf?.length > 0">
              <span>Finns även översatt till</span>
              <menu>
                <li v-for="trl in thing[REVERSE].translationOf"
                    v-on:click="this.$parent.select(trl)"
                    >{{trl.language.label}}</li>
              </menu>
            </div>
            <div v-if="thing[REVERSE]?.derivativeOf?.length > 0">
              <span>Andra former av verket</span>
              <menu>
                <li v-for="der in thing[REVERSE].derivativeOf"
                    v-on:click="this.$parent.select(der)"
                    >{{ld.getTypeLabelFor(der)}}</li>
              </menu>
            </div>
          </aside>
        </section>
        <menu :set="mediaGroups = ld.groupByType(thing[REVERSE]?.instanceOf, 'Media')">
          <li v-for="g in mediaGroups" class="group">
            <i v-if="mediaGroups.length > 1">{{g.term.label}}</i>
            <button v-for="inst in g.members"
                :class="inst === fromthing ? 'selected' : null"
                v-on:click="this.$parent.select(inst)">
                <span>{{ld.getTypeLabelFor(inst)}}</span>
                <span v-for="publ in asArray(inst.publication).slice(0, 1)">
                  (<time v-if="publ.date">{{ publ.date }}</time>)
                </span>
            </button>
          </li>
        </menu>
      </div>
    </template>
  </body>
</html>
