body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  color: var(--textcolor);
  font-family: Verdana, "Bitstream Vera Sans", "DejaVu Sans", Tahoma, Geneva, Arial, Sans-serif;
  font-size: 16px;
  --bg: #ddd;
  --textcolor: #111;
  --ridgecolor: #aaa;
  --boxcolor: #ccc;
  --buttoncolor: #eee;
  --buttonpressed: #ccc;
  --typecolor: #7ee;
  --categorycolor: #afa;
  --conceptcolor: #dbf;
  --workconceptcolor: #fca;
  --bg-grad-start: rgba(204, 204, 204, 0.8);
  --bg-grad-stop: rgba(204, 204, 204, 1);
}

main {
  margin: 3em 0;
  --boxcorner: 0.3em;
}

body > div {
  padding: 0 2em;
  max-width: 72em;
  margin: auto;
}

main > article {
  max-width: 56em;
  margin: auto;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.4);
  border-radius: var(--boxcorner);
}

article h1 {
  margin: 0.1em 0;
  font-size: 1.2rem;
}
article h2 {
  font-size: 1rem;
}
article p {
  margin: 0.5em 0;
}

section {
  padding: 0.2em 0.4em;
}

section[typeof] {
  position: relative;
  border: 1px ridge var(--ridgecolor);
}
section.specific > div {
  width: 70%;
}

section.specific section.general {
}

section.general {
  min-height: 32ex;
  transition: min-height 0.2s ease-in-out;
  border-radius: var(--boxcorner) var(--boxcorner) 0 0;
}

article.specific {
}

article.specific section.general {
  min-height: 26ex;
}
section.specific {
  padding: 0.8em 0.4em;
  box-shadow: inset 0px 10px 10px rgba(0, 0, 0, 0.4);
  background: var(--boxcolor);
  min-height: 24ex;
  border-radius: 0 0 var(--boxcorner) var(--boxcorner);
}
section.specific > div {
  margin: 0 0.8em;
}

section.general {
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
}

aside {
  border: 1px black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 26%;
  padding: 0.25em;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

aside.reverse {
  padding: 0.5em 0.75em;
  margin: 1em 0;
  position: absolute;
  right: -2em;
  background: var(--boxcolor);
  border-radius: var(--boxcorner);
}

article section > menu,
article div > menu {
  position: absolute;
  bottom: 0;
  width: 70%;
  padding: 0.25em;
}
article aside > div > menu {
  position: static;
}
figure, img {
  margin: 0;
  padding: 0;
}
figure {
  margin: 0.2em 0.1em;
}
menu {
  border: 3px groove;
  margin: 0;
  padding: 0;
}
button,
menu > li {
  display: inline-block;
  list-style-type: none;
  padding: 0em 1em;
  margin: 0.1em;
  border: 2px outset;
  background: var(--buttoncolor);
  box-shadow: outset 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  font-size: 1rem;
}
menu > li.group {
  padding: 0;
  border: none;
  vertical-align: top;
  box-shadow: none;
  border-radius: none;
  background: none;
}
menu > li.group > button {
  display: block;
}

button.selected,
menu > li.selected {
  border: 3px inset;
  background: var(--buttonpressed);
}

b[typeof] {
  display: inline-block;
  border-radius: 2em;
  font-size: 0.7rem;
  padding: 0.67em 1.34em;
  margin: 0.1em 0.3em;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}
b[typeof=Class] {
  background: var(--typecolor);
}
b[typeof=GenreForm] {
  background: var(--categorycolor);
}
b[typeof=Concept] {
  background: var(--conceptcolor);
}
b[typeof=WorkConcept] {
  background: var(--workconceptcolor);
}
